.profile-info {
    height: 155px;
}

.avatar img {
    width: 100%;
    max-width: 150px;
    height: 100%;
    border-radius: 10%;
}

.name_block {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    color: #171A1FFF;
    /* neutral-900 */
}

.num_follow {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #171A1FFF;
    /* neutral-900 */
}

.description_follow {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #171A1FFF;
    /* neutral-900 */
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 22px; 
}

.feed {
    height: 693px;
    overflow-y: scroll;
    scrollbar-width: thin; /* Толщина скроллбара (поддерживается в Firefox) */
    scrollbar-color: transparent transparent; /* Цвет скроллбара (поддерживается в Firefox) */
    -ms-overflow-style: none; /* Скрыть скроллбар в Internet Explorer и Edge */
}
.feed::-webkit-scrollbar {
    width: 0px; /* Толщина скроллбара (поддерживается в WebKit-браузерах) */
}
.feed::-webkit-scrollbar-thumb {
    background-color: transparent; /* Цвет ползунка скроллбара (поддерживается в WebKit-браузерах) */
}