body {
    margin: 0;
}

.btnMenu {
    border: 0;
    background-color: white;
    font-size: 14px; 
    font-weight: 700; 
    line-height: 22px; 
    color: #565D6DFF;
}

.image {
    border-radius: 8px;
}

.name {
    text-align: center;
}

.post {
    border-radius: 10px;
}
