body {
    margin: 0;
}

.btn {
    border: 0;
    background-color: white;
    font-size: 14px; 
    font-weight: 700; 
    line-height: 22px; 
    color: #565D6DFF;
}

.scroll {
    overflow-y: scroll;
    width: 100%;
}

#scroll-feed::-webkit-scrollbar {
    width: 0;
}