/* auth.css */

.create-an-account {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .create-an-account .div {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #bdc1ca;
    height: 900px;
    position: relative;
    width: 1440px;
  }
  
  .create-an-account .textbox {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #6e98a2;
    border-radius: 4px;
    height: 53px;
    left: 461px;
    position: absolute;
    top: 282px;
    width: 517px;
  }
  
  .create-an-account .overlap-group {
    border: 5px solid;
    border-color: #6e98a233;
    border-radius: 4px;
    height: 59px;
    left: -4px;
    position: relative;
    top: -4px;
    width: 523px;
  }
  
  .create-an-account .text {
    color: #bdc1ca;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 26px;
    white-space: nowrap;
  }
  
  /* Добавьте остальные стили, как указано в вашем изначальном коде */
  