.feedPostsType-button-wrapper {
    margin-right: 9px;
}
.feedPostsType-button {
    border: none;
    background: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #565D6DFF; /* neutral-600 */
}